# Environment
.env

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Airflow logs & runtime
logs/
plugins/

# Docker volumes
postgres-db-volume/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
